*,
 *::before,
 *::after {
   box-sizing: border-box;
 } 

 body {
   background-color: #FAFAAF;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 100vw;
   height: 100vh;
   flex-direction: column;
   overflow: hidden;
 }

/*Geral*/

 .btn {
   margin: 0.8em;
   border: none;
   outline: none;
   font-size: 2em;
   box-shadow: 4px 4px 4px #888;
   padding: 0.5em 1em;
   position: relative;
   background-color: var(--btn-color);

   --border-size: 7px;
   --back-color: #0af;
   --btn-color: #F0F8FF;
 }

 /*POP*/

.pop::before {
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   border: var(--border-size) solid var(--back-color);
   z-index: -1;
   transition: 150ms ease-in;
}

.pop:hover::before {
  top: calc(var(--border-size) * -2);
  bottom: calc(var(--border-size) * -2);
  left: calc(var(--border-size) * -2);
  right: calc(var(--border-size) * -2);
}

/*Sliding*/

.slide::before {
  content: '';
  position: absolute;
  background-color: var(--back-color);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease-in; 
}

.slide:hover::before {
  transform: scaleX(1);
}

.slide {
  z-index: 1;
  transition: color 500ms ease-in-out;
}

.slide:hover {
  color: white;
}

/*Circle*/

.circle::before {
  content: '';
  position: absolute;
  background-color: var(--btn-color);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 50%;
  transform: scale(1.5);
  transition: transform 500ms ease-in-out;
}

.circle:hover::before {
  transform: scale(0)
}

.circle {
  z-index: 1;
  transition: color 500ms ease-in-out;
  overflow: hidden;
  background-color: var(--back-color);
}

.circle:hover {
  color: white;
}

/*Underline*/

.underline::before {
  content: '';
  position: absolute;
  bottom: calc(var(--border-size) * -0.5);
  left: 0;
  right: 0;
  z-index: 1;
  height: var(--border-size);
  background-color: var(--back-color);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.underline:hover::before {
  transform: scaleX(1);
}